.header {
  border-bottom: 1px solid white;
}

.header-info {
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-title {
  font-size: 60px;
  margin: 0;
}

@media (max-width: 768px) {
  .header-info {
    min-height: 300px;
  }

  .header-title {
    font-size: 40px !important; /* Используем !important только в крайнем случае */
    line-height: 1.2;
  }
}

@media (max-width: 480px) {
  .header-info {
    min-height: 250px;
  }

  .header-title {
    font-size: 32px !important;
  }
}
